body {
	background-color:#8AE65C
}
img.small_img {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	width:280px;
	height:210px;
}

img.big_img {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	width:560px;
	height:420px;
}

img.xl_img {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	width:800px;
	height:600px;
}

img.ctv {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	width:420px;
	height:315px;
}


img.small_img_vertical {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	width:210px;
	height:280px;
}

img.extra_wide {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	width:991px;
	height:297px;
}

img.ultra_wide {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	width:1010px;
	height:189px;
}

img.portrait {
	width:57px;
	height:85px;
}

img.vertical_img {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	width:400px;
	height:682px;
}

img.attachemnt_img {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	width:400px;
	height:266px;
}

img.sponsor {
	width:205px; 
	height:85px; 
	padding:4px;
}


td.tick-border {
	border: 1px solid black; 
}

th.tick-border {
	border: 1px solid black; 
}

