body {
	background-color:#8AE65C
}
img.small_img {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	width:280px;
	height:210px;
}

img.big_img {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	width:560px;
	height:420px;
}

img.xl_img {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	width:800px;
	height:600px;
}



img.small_img_vertical {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	width:210px;
	height:280px;
}

img.portrait {
	width:57px;
	height:85px;
}

td.tick-border {
	border: 1px solid black; 
}

th.tick-border {
	border: 1px solid black; 
}

